html, body { height: 100%; }
body { padding-top: 64px; background-color: #fff; }


.card-img-top {
  height: 190px;
  width: 100%;
  object-fit: cover;
}

.badge-pulse {
  animation: pulse 1.5s ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}


